h1 {
        color:white;
        font-size: 20px;
        margin-top: 10px;
        border: 4cap;
        border-style: groove;
        border-color: black;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        background-color: red;
        border-radius: 50px;
    }

        h2{
            border: solid;
            border: 2cap;
            border-style: solid;
            border-color: black;
            border-radius: 200px;
            background-color: red;
            color: white;
            font-size: 20px;
            font-family: 'Times New Roman', Times, serif;
            text-align: center;
        }

    .box-container {
        display: flex;
        justify-content: space-around;
        background-color: black;
        border-radius: 25px;
        padding: 10px;
}
     

      .box, .box1, .box2, .box3, .box4 {
        font-size: 20px;
        background-color: black;
        border-radius: 25px;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
        margin: 15px; 
      }

      .box {
        color: white
      }

      .box1 {
        color: black
      }
      .box2 {
        color: yellow
      }
      .box3 {
        color: green
      }
      .box4 {
        color: blue
      }

      .box p {
        color: black;
        font-size: relative;
      }
      
      .box1 p {
        color: black;
        font-size: relative;
      }
      .box2 p {
        color: black;
        font-size: relative;
      }

      .box3 p {
        color: black;
        font-size: relative;
      }

      .box4 p {
        color: black;
        font-size: relative;
      }

      .box, .box1, .box2, .box3, .box4 {
        border: 1px groove black;
        box-shadow: 5px 5px 5px 5px black;
      }
      
      .box {
        background-color: purple;
      }
      
      .box1 {
        background-color: green;
      }
      
      .box2 {
        background-color: red;
      }

      .box3 {
        background-color: orange;
      }

      .box4 {
        background-color: cyan
      }
      