*, body, html {
    margin: 0px;
    padding: 0px;
}

*focus {
    outline: none;
}

body{ 
    background-color: gray;;
}

p{
    font-size: 20px;
    margin-bottom: -18px;
    padding: 10px;
}

#contact-form{
    padding: 40px;
    font-size: 33px;
}

#my-button{
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    width: 100px
}

#my-text-area{
    width: 600px;
    height: 300px;

}

.horizontal-line {
    border-bottom: 3px solid black; 
    margin: 10px
}

input{
    border-radius:  0px;
    border: 1px solid black;
    padding: 3px;
    margin-top: 5px;
    font-size: 20px;
    text-align: center;

}


h1 {
    padding: 50px;
    margin: 20px;
    font-size: 50px;

}

